Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.7
Flask-JWT-Simple==0.0.3
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
Jinja2==2.10.3
joblib==0.14.0
jsonlines==1.2.0
jsonpickle==1.0


